@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */

:root{
    /* colors */
    --soft-gray: #eaeade;
    --charcoal-gray: #1f1f1f;
    --steel-gray: #797979;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);

    /* breakpoints */
    /* --xs: 480px;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px; */
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

html{
    background: var(--charcoal-gray);
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--charcoal-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    padding: 1rem 5rem;
}

header .logo img{
    max-width: 3rem;
}

header .navbar a{
    padding: 0.5rem 1rem;
    color: var(--steel-gray);
    font-size: 0.9rem;
}

header .navbar a.active,
header .navbar a:hover{
    color: var(--soft-gray);
}

header .icons i, 
header .icons a{
    cursor: pointer;
    margin: 0 0.5rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--steel-gray);
}

header .icons i:hover, 
header .icons a:hover{
    color: var(--soft-gray);
    transform: rotate(360deg);
    transition: all 1s ease;
}

header .icons #menu-bars{
    display: none;
}

@media screen and (max-width: 992px){
    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--soft-gray);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: all 0.5s ease;
    }

    header .navbar a{
        display: block;
        margin: 1rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px){
    header{
        padding: 1rem 2rem;
    }
}