@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */

:root{
    /* colors */
    --soft-gray: #eaeade;
    --charcoal-gray: #1f1f1f;
    --steel-gray: #909090;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);

    /* breakpoints */
    /* --xs: 480px;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px; */
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

p,a{
    font-size: 0.95rem;
}

html{
    background: var(--charcoal-gray);
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--charcoal-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    padding: 1rem 5rem;
}

header .logo img{
    max-width: 3rem;
}

header .navbar a{
    padding: 0.5rem 1rem;
    color: var(--steel-gray);
    text-transform: capitalize;
}

header .navbar a.active,
header .navbar a:hover{
    color: var(--soft-gray);
}

header .icons i, 
header .icons a{
    cursor: pointer;
    margin: 0 0.3rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--steel-gray);
}

header .icons i:hover, 
header .icons a:hover{
    color: var(--soft-gray);
    transform: rotate(360deg);
    transition: all 1s ease;
}

header .icons #menu-bars{
    display: none;
}

body {
    margin: auto;
    width: 80%;
}

.fade-in {
    opacity: 0;
    transform: translateY(100px); 
    transition: opacity 0.5s, transform 0.5s;
}

section {
    padding: 10px 0 50px 0;
}

section h1{
    font-size: 2rem;
}

/* about */
#about{
    padding: 10rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}

/* typewriter effect with alterating text */
.wrapper{
    color: var(--steel-gray);
}

.wrapper span{
    color: var(--soft-gray);
}

.details{
    color: var(--steel-gray);
    line-height: 1.8rem;
}

.details a{
    color: var(--soft-gray);
}

.details a:hover{
    text-decoration: underline;
}

/* experience */
/* timeline */

/* leadership */
#leadership .img img{
    width: 150px;
    padding-top: 50px;
}

#leadership h1{
    color: var(--soft-gray);
}

/* vertical tabs */
.grid {
    list-style: none;
    margin-left: -40px;
}
   
.col {
    box-sizing: border-box;
    display: inline-block;
    margin-right: -.25em;
    min-height: 1px;
    padding-left: 25px;
    vertical-align: top;
}

.col.orgs {
    width: 25%;
}

.col.details {
    width: 75%;
}

.v-tabs {
    position: relative;
    margin: 50px auto 0;
}

.v-tabs .menu {
    position: relative;
}

.v-tabs .menu::before {
    content: "";
    position: absolute;
    left: 16px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--steel-gray);
    z-index: -1; 
}

.v-tabs .menu div {
    padding: 5px 20px 5px 40px;
    margin-bottom: 10px;
    color: var(--steel-gray);
    cursor: pointer;
    position: relative;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.v-tabs .menu div span {
    font-size: 0.9rem;
}

/* segment of line changes color */
.v-tabs .menu div span.light {
    height: calc(100%); 
    width: 2px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    position: absolute;
    left: 16px;
}

.v-tabs .menu div.active span.light {
    background-color: var(--soft-gray);
}

.v-tabs .menu div:hover,
.v-tabs .menu div.active {
    color: var(--soft-gray);
}
   
ul.v-tab {
    position: relative;
    height: 0px;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
   
ul.v-tab li {
    opacity: 0;
    transform: translateX(50px);
    position: absolute;
    list-style: none;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
   
ul.v-tab li.active {
    transition-delay: .3s;
    z-index: 2;
    opacity: 1;
    transform: translateX(0px);
}

ul.v-tab li .content {
    display: grid;
    grid-template-columns: 90% 10%; 
}

ul.v-tab li .date{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

ul.v-tab li span {
    color: var(--steel-gray);
}

ul.v-tab li h3 {
    color: var(--soft-gray);
}

ul.v-tab li p {
    margin: 0;
}

ul.v-tab li i {
    padding-right: 1rem;
}

ul.v-tab li .links{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

ul.v-tab li .link{
    min-width: 150px; 
    margin: 3px 20px 0 0;
}

ul.v-tab li .links a{
    color: var(--steel-gray);
}

ul.v-tab li .links i{
    color: var(--soft-gray);
}


@media screen and (max-width: 992px){
    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--soft-gray);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: all 0.5s ease;
    }

    header .navbar a{
        display: block;
        margin: 1rem;
    }

    header .navbar a.active,
    header .navbar a:hover{
        color: var(--charcoal-gray);
    }

    #leadership .img img{
        display: none;
    }

    ul.v-tab li .content {
        display: grid;
        grid-template-columns: 100%; 
    }
}

@media only screen and (max-width: 768px) {
    /* vertical tabs turn horizontal; description collapse to the bottom */
    .v-tabs {
        margin: 30px auto 0;
    }

    .v-tabs .menu {
        display: flex;
        overflow-x: auto;
        margin-bottom: 30px;
        white-space: nowrap;  /* ensures that the tabs won't wrap into the next line */
    }

    /* make vertical line horizontal */
    .v-tabs .menu::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0; 
        height: 2px; 
        background-color: var(--steel-gray);
        z-index: -1;
        top: calc(100% - 10px);
        width: 740px;
    }

    .v-tabs .menu div {
        display: inline-block;
    }

    .grid {
        display: block;
    }

    .col {
        padding-left: 40px;
    }

    .col.orgs, .col.details {
        width: 100%;
    }

    ul.v-tab {
        position: relative;
        height: auto;
    }

    ul.v-tab li.active {
        position: relative;
    }

    .v-tabs .menu div span.light {
        width: calc(100%);
        height: 2px;
        left: 50%;
        transform: translateX(-50%);
        top: calc(100%);
    }

    /* active tab */
    .v-tabs .menu div.active span.light {
        background-color: var(--soft-gray);
    }

    .v-tabs .menu div {
        padding: 10px 20px; 
    }
}

@media screen and (max-width: 576px){
    #about {
        grid-template-columns: 1fr; 
    }

    .wrapper{
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 480px){
    header{
        padding: 1rem 2rem;
    }
}